@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

@layer components {
  h1 {
    @apply text-4xl md:text-6xl font-extrabold leading-tight sm:leading-tight md:leading-tight sm:text-4xl md:text-5xl lg:text-7xl tracking-tight
  }

  h2 {
    @apply text-5xl font-bold mb-6 leading-none
  }

  h3 {
    @apply text-xl font-bold
  }

  p {
    @apply text-base text-stone-700 max-w-3xl
  }
}